# data
data/*.csv
data/ref_alignments/*.fasta
data/no_gaps_ref/*.fasta
data/cigar.rda
!data/.gitkeep
!data/ref_alignments/.gitkeep
!data/no_gaps_ref/.gitkeep

# raw-data
raw_data/*
!raw_data/gorilla_geneId.tsv

# fasta file
*.fasta
*.fas
*.fa

# results folder
results/*
!results/.gitkeep

# helper scripts
scripts/helper/*

# supplementary materials - results summary
supplementary_materials.pdf

# PDF files
*.pdf
